@model IEnumerable<LG.DLFinance.Models.Transaction>

@if (Model != null)
{
<table class="table">
    <tr>
        <th style="text-align:center">@ViewBag.CurrentMonth</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr style="border-top:none">
            <td style="text-align:center">@Html.DisplayFor(modelItem => item.Manager.ManagerName)</td>
        </tr>
    }
</table>
}
else
{
<h3 style="text-align:center">No Fivers Won Yet</h3>
}