@model IEnumerable<LG.DLFinance.Models.Prizes>

@if (Model != null)
{
    <br />
    <h4 style="text-align:center">League and Cup Winners</h4>
    <br />

    <table class="table">
        <tr>
            <th style="text-align:center" colspan="3">Cups</th>

        </tr>
        <tr>
            <th style="text-align:center">Prize</th>
            <th style="text-align:center">Amount</th>
            <th style="text-align:center">Winner</th>
        </tr>
        <tbody>
                @foreach (var item in Model.Where(x => x.CupPrize == true))
                {
            <tr>
                    <td style="text-align:center">@Html.DisplayFor(modelItem => item.PrizeType)</td>
                    <td style="text-align:center">@Html.DisplayFor(modelItem => item.PrizeAmount)</td>
                    @{Html.RenderAction("_LeagueCupSummaryLine", "Finance", new { prizeType = item.PrizeType }); }
            </tr>
                }
        </tbody>
    </table>
    <br />
    <table class="table">
        <tr>
            <th style="text-align:center" colspan="3">League</th>

        </tr>
        <tr>
            <th style="text-align:center">Prize</th>
            <th style="text-align:center">Amount</th>
            <th style="text-align:center">Winner</th>
        </tr>
        <tbody>
                @foreach (var item in Model.Where(x => x.LeaguePrize == true))
                {
            <tr>
                    <td style="text-align:center">@Html.DisplayFor(modelItem => item.PrizeType)</td>
                    <td style="text-align:center">@Html.DisplayFor(modelItem => item.PrizeAmount)</td>
                    @{Html.RenderAction("_LeagueCupSummaryLine", "Finance", new { prizeType = item.PrizeType }); }
            </tr>
                }
        </tbody>
    </table>

}
else
{
    <h4>No League or Cup Data</h4>
}